option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NODE_ENV
    value: production
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_HOST
    value: aaf3pm3afiykuv.c9n0qaroyipe.ap-northeast-1.rds.amazonaws.com
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_USER
    value: spirit99
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_PASSWORD
    value: ru.3g6ru.3gp6
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_PORT
    value: 3306


